header.header {
    background-color: rgb(var(--header-bg-color));
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header.header {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
    background-image: radial-gradient(rgba(234, 234, 234, 0.5) 1px, transparent 1px);
    background-size: 20px 20px;
}

div.greeting-text-container {
    display: flex;
    flex-direction: row;
}

div.greeting-text-container {
    font-size: calc(5vw + 5rem);
    font-family: monospace;
    color: rgb(var(--header-text-color));
    font-weight: 700;
}

p.greeting-zero {
    color: rgb(var(--black-color));
}

p.greeting-zero {
    will-change: transform;
    transition: transform 0.5s ease-in-out;
}

p.greeting-zero:hover {
    transform: rotate(180deg);
}

div.greeting-text-container {
    opacity: 0;
    animation: fade-in 1s ease-in-out;
    animation-fill-mode: forwards;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 100%;
    }
}

/* p.greeting-text::before {
    content: '{';
    color: rgb(var(--black-color));
}

p.greeting-zero::after {
    content: '}';
    color: rgb(var(--black-color));
} */